<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel="icon" type="image/x-icon" href="http://www.iconsdb.com/icons/download/black/blank-file-multi-size.ico">
  <% include partials/head %>
  </head>
  <body>
    <header>
        <% include partials/header %>
    </header>
    <br>
    <div>
    <h1><%= title %></h1>
    <p>Bienvenue sur <%= title %></p>
    <ul>
      <li><a href="phishing">Phising</a></li>
      <li><a href="steganography">Stéganographie</a></li>
      <li><a href="pathTraversal">Path Traversal</a></li>
      <li><a href="sqlinjection">SQL Injection</a></li>
      <li><a href="cookiePoisoning">Cookie Poisoning</a></li>
      <li><a href="bruteForce">Brute Force</a></li>
      <li><a href="xss">XSS</a></li>
      <li><a href="xss/2">XSS 2</a></li>
    </ul>
  </div>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
