<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="http://www.iconsdb.com/icons/download/black/blank-file-multi-size.ico">
		<link rel="stylesheet" href="https://s-passets-cache-ak0.pinimg.com/webapp/style/app/common/scss/bundle-desktop-modules0-ee691068.css" />
		<title>Phishing</title>
	</head>
	<body>
	<p>
		<%= result %>
	</p>
	</body>
</html>
