<!DOCTYPE html>
<html>
  <head>
    <title>HackMe - SQL Injection</title>
    <% include partials/head %>
  </head>
  <body>
    <header>
        <% include partials/header %>
    </header>
    <br>
    <h1>SQL Injection</h1>
    <pre>
      Félicitations! Vous avez complété l'épreuve SQL Injection.
      Vous pouvez retourner au menu à l'aide de l'icône au haut de la page.
    </pre>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
