<!DOCTYPE html>
<html>
  <head>
    <title>HackMe - SQL Injection</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="http://www.iconsdb.com/icons/download/black/blank-file-multi-size.ico">
  </head>
  <body>
    <h1>SQL Injection</h1>
    <p>Félicitations! Vous avez complété l'épreuve SQL Injection</p>
    <form action="../phishing" method="get">
      <input type="submit" value="Prochaine épreuve">
    </form>
  </body>
</html>
