<!DOCTYPE html>
<html>
  <head>
    <title>HackMe - SQL Injection</title>
    <% include partials/head %>
  </head>
  <body>
    <header>
        <% include partials/header %>
    </header>
    <br>
    <h1>SQL Injection</h1>
    <p>Les attaques de type SQL Injection ...</p>
    <form action="sqlinjection/part1" method="post">
      <input type="submit" value="Commencer l'épreuve">
    </form>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
