<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<% include partials/head %>
	</head>
	<body>
		<header>
				<% include partials/header %>
		</header>
		<br>
		<h1><%= title %></h1>
		<p>Voici l'épreuve de <%= title %></p>
		<pre>Certains sites web sont vulnérables aux injections XSS. 
C'est un moyen d'envoyer du code malicieux (dans notre cas, JavaScript) à d'autres utilisateurs d'un site. 
Par exemple, si nous utilisons un site comme Facebook et que mon plus récent statut est un scripte JavaScript. 
Quand la page va se charger, les personnes voyant mon statut vont exécuter automatiquement mon script malicieux.

Quelques protections ont été ajoutées par rapport la première épreuve, a vous de les découvrir
Pour cette épreuve, vous devez trouver faire une injection XSS. Pour que la réponse soit accepté, vous devez utiliser "console.log"
		</pre>
        <div class="whiteSpace" id='answer'><span>Les données envoyées se retrouveront ici</span><ul><li><%- answer %></li></ul></div>
		<form method="post">
			<div style="padding: 10px;">
				<label class="answer">Solution:</label>
				<input type="text" class="answer" name="answer" id="answer" tabindex="1" value="" autofocus="1" />
			</div>
			<input type="submit" value="Vérifier la réponse"/>
			<span id="answerResponse"></span>
		</form>
        <%if (won) { %>
            <div class="whiteSpace">Vous avez réussi l'épreuve!!!</div>
        <% } %>
        <div id='answer'><ul></ul></div>
		<div>
			<ul style="padding: 0px;">
				<li><a class="tooltips" href="#">Indice no.1
					<span>Le serveur fait des modifications sur l'envoi, vous devez soit la contourner ou changer de technique</span>
				</a></li>
			</ul>
			<ul style="padding: 0px;">
				<li><a class="tooltips" href="#">Indice no.2
					<span>Les modifications remplace les charactères suivants { '<', '>', '&', '"', "'" }</span>
				</a></li>
			</ul>
		</div>
		<footer>
				<% include partials/footer %>
		</footer>
	</body>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"/>
</html>
